.booking-container {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 30px;
}

.booking-container p {
    font-size: 18px;
    margin-top: 10px;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
}

.form-container {
    width: 800px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 20px 30px 20px;
    background-color: white;
}

h3 {
    margin-left: 10px;
    font-weight: bold;
    display: inline;
    position: relative;
    top: 5px;
}
