.booking-step1-inputs {
  display: flex;
}
h5 {
  margin: 0;
}

.btn-decrement {
  border: none;
  background-color: #1976d2;
  color: white;
  font-weight: bold;
  width: 30px;
  border-radius: 3px 0 0 3px;
}

.btn-increment {
  border: none;
  background-color: #1976d2;
  color: white;
  font-weight: bold;
  width: 30px;
  border-radius: 0 3px 3px 0;
}

.class-stack {
  margin: 3px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.06);
  width: 500px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(118, 118, 118);
}

.addOn-stack {
  margin: 3px 0;
  padding: 10px;
  background-color: rgb(255, 251, 217);
  width: 500px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(118, 118, 118);
}

.class-title {
  width: 200px;
}
